* {
    font-family: "Germania One";
}
body{
    background: #000;
}
.Game-Card{
    width: 400px;
    height: 500px;
    background: #0ff;
    margin: 0 auto;
    position: relative;
}
#sound{
    width: 30px;
    height: 30px;
    cursor: pointer;
    position: absolute;
    top: 465px;
    left: 15px;
}
#gameover{
    position: absolute;
    width: 400px;
    height: 500px;
    background: rgba(0, 0, 0, 0.5);
    display: none;
}
#youwon{
    width: 100px;
    position: absolute;
    top: 200px;
    left: 150px;
    display: none;
}
#youlose{
    width: 400px;
    position: absolute;
    top: 100px;
    left: 0px;
    display: none;
}
#restart{
    position: absolute;
    top: 310px;
    left: 155px;
    cursor: pointer;
    font-size: 1.25em;
    color: #FFF;
}
.difficulty{
    display: flex;
    justify-content: center;
    align-items: center;
}
#normal{
    position: absolute;
    top: 150px;
    left: 115px;
    cursor: pointer;
    font-size: 4em;
    color: #0e6315;
    user-select: none;
}
#hard{
    position: absolute;
    top: 220px;
    left: 145px;
    cursor: pointer;
    font-size: 4em;
    color: #ff9102;
    user-select: none;
}
#brutal{
    position: absolute;
    top: 290px;
    left: 130px;
    cursor: pointer;
    font-size: 4em;
    color: #fd0b0b;
    user-select: none;
}